/*Mobile First*/
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #000000;
    line-height: 1.6;
  }
  
  /* Navbar */
  header {
    background: #000;
    color: #fff;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  /* Menú móvil */
  .menu-toggle {
    font-size: 1.7rem;
    cursor: pointer;
    display: block;
  }
  
  /* Links ocultos */
  .nav-links {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: none;
    flex-direction: column;
    gap: 12px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Hero */
  .hero {
    padding: 80px 20px;
    text-align: center;
    background: #111;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 1.8rem;
  }
  
  .hero p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  /* Catálogo */
  .catalogo {
    padding: 50px 20px;
  }
  
  .catalogo h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  
  .grid-autos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .auto-card {
    border: 1px solid #ccc;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 8px;
  }
  
  .auto-card img {
    width: 100%;
    border-radius: 6px;
  }
  
  /* Beneficios */
  .beneficios {
    padding: 50px 20px;
    background: #f7f7f7;
  }
  
  .beneficios h2 {
    text-align: center;
  }
  
  /* Contacto */
  .contacto {
    padding: 50px 20px;
    text-align: center;
  }
  
  .btn-principal {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 30px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  /* Footer */
  footer {
    padding: 25px;
    background: #000;
    color: #fff;
    text-align: center;
  }
  
  /*Responsive para pantallas iPad*/
  @media (min-width: 600px) and (max-width: 1024px) {
  
    header {
      padding: 18px 35px;
    }
  
    .logo {
      font-size: 1.5rem;
    }
  
    .hero {
      padding: 120px 40px;
    }
  
    .hero h1 {
      font-size: 2.3rem;
    }
  
    .hero p {
      font-size: 1.2rem;
    }
  
    /* Catálogo en 2 columnas */
    .grid-autos {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
  
    .auto-card {
      padding: 20px;
    }
  
    .auto-card img {
      border-radius: 10px;
    }
  
    .beneficios,
    .contacto {
      padding: 70px 40px;
    }
  
    .btn-principal {
      font-size: 1.1rem;
      padding: 14px 36px;
    }
  }
  
  /*Responsive Desktop*/
  @media (min-width: 1025px) {
  
    .nav-links {
      display: flex !important;
      flex-direction: row;
      gap: 25px;
      margin: 0;
    }
  
    .menu-toggle {
      display: none;
    }
  
    .hero h1 {
      font-size: 2.6rem;
    }
  
    .grid-autos {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  